{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": {
        "runtime": "classic",
        "pragma": "Inert",
        "pragmaFrag": "Fragment"
      }
    },
    "target": "es2020"
  },
  "module": {
    "type": "es6"
  }
}
